.huubt {
  border: 1px dotted #eee
}  
.huubt, .huubt li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}  
.huubt li {
  margin: 0 .35em;
  -float: left;
}  
.huubt:after {
  -clear: both;
}  
.huubt li>a {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 48px;
  height: 48px;
  line-height: 48px;
  background-color: #eee;
}
.huubt li>a span {
  display: none;
}  

.huubt .facebook>a {
  background-image: url(img/facebook-img128x128.png);
}
.huubt .twitter>a {
  background-image: url(img/twitter-img128x128.png);
}
.huubt .instagram>a {
  background-image: url(img/instagram-img128x128.png);
}
.huubt .pinterest>a {
  background-image: url(img/pinterest-img128x128.png);
}
.huubt .youtube>a {
  background-image: url(img/youtube-img128x128.png);
}
.huubt .linkedin>a {
  background-image: url(img/linkedin-img128x128.png);
}
