.huubt {
}  
.huubt, .huubt li {
  padding: 0;
  margin: 0;
  line-height: 40px;
  list-style: none;
  display: inline-block;
}  
.huubt li {
  margin: 0 .25em;
  vertical-align: middle;
  float: left;
}  
.huubt:after {
  clear: both;
}  
.huubt li>a {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 48px;
  height: 48px;
  border: 2px solid rgba(0,0,0,.65);
  border-radius: 50%;
}
.huubt li>a:hover {
  border-color: black;
}  
.huubt li>a span {
  display: none;
}  

.huubt .facebook>a {
  background-image: url(img/facebook-img128x128.png);
}
.huubt .twitter>a {
  background-image: url(img/twitter-img128x128.png);
}
.huubt .instagram>a {
  background-image: url(img/instagram-img128x128.png);
}
.huubt .pinterest>a {
  background-image: url(img/pinterest-img128x128.png);
}
.huubt .youtube>a {
  background-image: url(img/youtube-img128x128.png);
}
.huubt .linkedin>a {
  background-image: url(img/linkedin-img128x128.png);
}
