.huubt, .huubt li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}  
.huubt li>a {
  display: inline-block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 48px 48px;
  width: 48px;
  height: 48px;
}  

.huubt.facebook {
  background-image: url(img/facebook-img128x128.png);
}
.huubt.twitter {
  background-image: url(img/twitter-img128x128.png);
}
.huubt.instagram {
  background-image: url(img/instagram-img128x128.png);
}
.huubt.pinterest {
  background-image: url(img/pinterest-img128x128.png);
}
.huubt.youtube {
  background-image: url(img/youtube-img128x128.png);
}
.huubt.linkedin {
  background-image: url(img/linkedin-img128x128.png);
}
